default: &default
  adapter: postgresql
  username: postgres
  encoding: unicode
  pool: 5
  host: <%= defined?(ENV['WARMAPP_DATABASE_HOST']) ? ENV['WARMAPP_DATABASE_HOST'] : localhost %>

development:
  <<: *default
  database: warmapp_development

test:
  <<: *default
  database: warmapp_test

production:
  <<: *default
  database: warmapp_production
  username: warmapp
  password: <%= ENV['WARMAPP_DATABASE_PASSWORD'] %>
